{% if include.cta-blurb %}
<div id="
    {% if include.id %}
        g-{{ include.id }}-cta
    {% endif %}
    " 
     class="call-to-action 
        {% if include.style %}
            call-to-action--{{ include.style }}
        {% endif %}
        ">
    <div class="call-to-action__inner">
        <i class="call-to-action__icon {{ include.cta-icon }} fa-2x"></i>
        <p class="call-to-action__blurb" markdown="1">
            {{ include.cta-blurb }}
        </p>
        <a href="{{ include.cta-button-url }}" class="call-to-action__button button 
        {% if include.cta-button-style %}
            button--{{ include.cta-button-style }}
        {% else %}
            button--secondary
        {% endif %}">
            {{ include.cta-button-text }}
        </a>
    </div>
</div>
{% endif %}