<div class="navbar">
    <div class="navbar__inner">
        <a href="/" class="navbar__brand" title="DistrictBuilder home">
            <img src="{{ site.baseurl }}/assets/images/districtbuilder_RGB.svg" alt="DistrictBuilder logo">
        </a>
        
        <button id="js-menubutton" class="button button--secondary navbar__menu-button" aria-expanded="false" aria-haspopup="true">
            <i class="fas fa-bars button__icon"></i>
        </button>

        <div id="js-menu" class="navbar__nav-container" hidden>
            {% include primary-nav.html %}
        </div>
    </div>
</div>
