<li class="navbar__subitem {% if page.subgroup == include.subgroup %}is-active{% endif %}">
    <a class="navbar__sublink {% if include.subgroup %}navbar__sublink--has-children js-nav-dropdown-trigger{% endif %} {% if page.url == include.path %}is-active is-current{% endif %} {% if page.subgroup == include.subgroup %}is-active{% endif %}" href="{% if include.subgroup %}#{% else %}{{ include.path | prepend: site.baseurl}}{% endif %}">
        <span class="navbar__text">{{ include.label }}</span>
        {% if include.subgroup %}
        <i class="navbar__icon fas fa-caret-down" aria-label='Open submenu'></i>
        {% endif %}
    </a><!--end c-primary-nav__link-->
    {% if include.subgroup %}
    {% include primary-nav-submenu.html subgroup=include.subgroup %}
    {% endif %}
</li><!-- end c-primary-nav__item-->
