<div class="section__image-text-container">
		{% assign baseimage = include.image-url %}
    {% assign imageending = baseimage | split: '.' | last %}
    {% assign size = baseimage | size | minus: 4 %}
    <div class="section__image-container section__image-container__inverted">
        <picture class="section__image">
            <source media="(max-width: 799px)" data-srcset="{{ baseimage | slice: 0, size }}@0.5x.{{ imageending }}">
            <source media="(min-width: 799px) and (max-width: 1000px)" data-srcset="{{ baseimage | slice: 0, size }}@0.75x.{{ imageending }}">
            <source media="(min-width: 1000px)" data-srcset="{{ baseimage }}">
            <img data-src="{{ site.baseurl }}/assets/images/projects/{{ baseimage }}" src="{{ baseimage | slice: 0, size }}_tiny.{{ imageending }}" alt="{{ include.image-alt }}" class="lazy">
        </picture>
    </div>
	
    <div class="section__text-container section__text-container__inverted">
        <h2 class="section__title">
            {{ include.title }}
        </h2>
        <div class="section__blurb">
            {{ include.blurb || markdownify }}
        </div>
        <a id="g-features-section-cta" href="{{ include.button-url }}" class="section__button button button--primary">
            {{ include.button-text }}
        </a>
    </div>
</div>