.card-container {
    @media all and (min-width: $bp-small-3) {
        display: flex;
        justify-content: space-between;
    }

    @media all and (min-width: $bp-small-3) and (max-width: $bp-xl) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.card {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: $pad-comfortable;
    text-indent: 0;

    @media screen and (min-width: $bp-small-3) and (max-width: $bp-med) {
        flex: 0 1 48%;
        margin-right: 2%;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @media screen and (min-width: $bp-med) {
        flex: 0 1 31%;
        margin-right: 2%;
        margin-bottom: $pad-normal;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    @media screen and (min-width: $bp-xl) {
        margin-right: $pad-normal;

        &:last-child {
            margin-right: 0;
        }
    }
    
    &::before {
        content: "";
        display: none;
    }

    &__icon-container {
        border-radius: 100%;
        padding: $pad-medium;
        background-color: rgba($brand-peach, 0.2);
        margin-right: $pad-normal;
        position: relative;
    }

    &__icon {
        color: $brand-tomato-red;
        line-height: 0;
    }

    &__tag {
        position: absolute;
        top: -1rem;
        left: -1rem;
        transform: rotate(-10deg);

        span {
            font-family:$font-family-header;
            font-weight: map-get($font-weights, medium);
            color: $white;
            font-size: 8px;
            text-transform: uppercase;
            border-radius: $border-radius;
            position: absolute;
            line-height: 1;
            text-align: center;
            text-shadow: 0 0px 1px rgba(black, 0.35);
            margin-top: 50%;
            margin-left: 50%;
            transform: translate(-50%,-50%);
           
            @include light-on-dark();
        }
    }

    &__tag-bg {
        color: darken($brand-plum, 5%);
        line-height: 1.1;
    }

    @supports (-moz-appearance:none) {
        .card__tag-bg { 
            line-height: 1;
        } 
    }

    &__content {
        position: relative;
    }

    &__title {
        @include heading(200);
        margin-bottom: 0.25rem;
    }

    &__blurb {
        @include text(300);
    }

    &__user-info {
        display: flex;
        align-items: center;
        margin-top: $pad-small;
    }

    &__user-avatar {
        width: 25px;
        height: 25px;
        flex: 0 0 25px;
        margin-right: $pad-small;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
        border: 1px solid #EDE7E0;
    }

    &__user-name {
        @include heading(200);
    }
}

.card--fancy {
    border-radius: $border-radius;
    transition: transform 0.15s ease-in;
    display: flex;
    flex-direction: column;

    &:hover {
        transform: scale(1.025);
    }

    &:focus-within {
        @include focus-outline();
    }

    &:focus-within .card__link {
        text-decoration: underline;
    }

    &:focus-within a:focus {
        text-decoration: none;
        box-shadow: none;
    }

    .card__image-container {
        overflow: hidden;
        line-height: 0;
        border-radius: $border-radius;
        border: 1px solid $brand-flour-300;
        width: 100%;
        background: $brand-flour-300;
        order: 1;

        .section__image {
            width: 100%;
        }
    }

    .card__image {
        width: 100%;
        height: auto;
    }

    .card__title {
        margin-bottom: $pad-compact;
        order: 2;
    }

    .card__title, 
    .card__title a {
        @include heading(400);
    }

    .card__description {
        z-index: 2;
        order: 3;
    }

    .card__link {
        // This is so the whole card is clickable
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }

    .card__cta {
        @include font-weight(bold);
        order: 4;

        color: $link-color;
        text-decoration: none;
        cursor: pointer;

        &:hover,
        &:focus {
            text-decoration: underline;
            -webkit-text-decoration-color: $link-underline-color; 
                    text-decoration-color: $link-underline-color; 

            &::before,
            &::after {
                text-decoration: none!important;
            }
        }
    }
}
