<section id="section-closing" class="section section--centered">
    <div class="section__inner">
        <div class="section__image-container">
            <img class="section__image" src="{{ page.closing.image-url }}" alt="{{ page.closing.image-alt }}">
        </div>
        <div class="section__text-container">
            <p class="section__blurb" markdown="1">
                {{ page.closing.blurb }}
            </p>
            <a id="g-closing-register-button" href="{{ page.closing.button-url }}" class="section__button button button--primary">
                {{ page.closing.button-text }}
            </a>
        </div>
    </div>
</section>