<!-- Hero -->
{% include {{ page.partials_location }}_hero.html %}
<!-- Hero -->

<!-- Value Prop -->
{% include {{ page.partials_location }}_valueprop.html %}
<!-- Value Prop -->

<!-- Features -->
{% include {{ page.partials_location }}_features.html %}
<!-- Features -->

<!-- Testimonials -->
{% include {{ page.partials_location }}_testimonials.html %}
<!-- Testimonials -->

<!-- Community -->
{% include {{ page.partials_location }}_community.html %}
<!-- Community -->

<!-- Resources -->
{% include {{ page.partials_location }}_resources.html %}
<!-- Resources -->

<!-- Closing CTA -->
{% include {{ page.partials_location }}_closing.html %}
<!-- Closing CTA -->