---
layout: compress
page_class: l-home
---

<!DOCTYPE html>
<html>
{% include head.html %}
    <body 
        {% if page.page_class %} 
            class="{{- page.page_class }} {{ layout.page_class -}}" 
        {% endif %}>

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCTXTQB"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        <div class="main">
            <main class="main__inner">
                {% include navbar.html %}
                <!-- page content -->
                {{ content }}
                <!-- page content -->
            </main>
            
            <!-- call-to-action -->
            {% if page.cta-blurb %}
                {% include call-to-action.html 
                    cta-blurb = page.cta-blurb
                %}
            {% endif %}
            <!-- call-to-action -->
            {% include footer.html %}
        </div>
    </body>
</html>
